


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/result" method="post">
        <textarea name="kifutxt" rows="20" cols="80" placeholder="KIF形式で入力してください"></textarea>
        <button type="submit">送信する</button>
    </form>
    {% autoescape False %}
    {{img}}
    {% endautoescape %}


</body>
</html>